# general things that just don't need to go into source control.

/build
/input
/output
/tortoise-tts
/vendor
/voices

# local things that just help me specifically thta don't need to be in
# source control either.

update.bat
